@import "tailwindcss";

::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgb(58, 58, 58);
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: rgb(101, 95, 255);
}

*{
  font-family:"figtree";
}